# 3. Plotting for Exploratory data analysis (EDA)

## Haberman dataset

In [36]:
##Basic data description
##The follwoing is a a data set from Chiago's Billing Hospital.It conssits of data about patients 
##that underwent surgery for breast cancer and is labelled into wether thet survied for next 5 years or not .

In [43]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
haberman = pd.read_csv("haberman.csv")

In [7]:
print (haberman.shape)

(306, 4)

In [8]:

print (haberman.columns)

Index(['age', 'year', 'nodes', 'status'], dtype='object')

In [45]:
haberman['status']=haberman['status'].replace([1,2],['yes','no'])

In [40]:
haberman["status"].value_counts()

yes    225
no      81
Name: status, dtype: int64

In [41]:
haberman.describe()

              age        year       nodes
count  306.000000  306.000000  306.000000
mean    52.457516   62.852941    4.026144
std     10.803452    3.249405    7.189654
min     30.000000   58.000000    0.000000
25%     44.000000   60.000000    0.000000
50%     52.000000   63.000000    1.000000
75%     60.750000   65.750000    4.000000
max     83.000000   69.000000   52.000000